<mat-toolbar>
  <button mat-button color="primary" (click)="navigationService.goBack()">
    <mat-icon>arrow_back</mat-icon>&nbsp;Back
  </button>
  <span class="spacer"></span>
  <!-- <button mat-flat-button color="accent" (click)="openDialog()">
    <mat-icon>edit</mat-icon>&nbsp;Edit Player Configurations
  </button> -->
</mat-toolbar>
<div class="container">
  <h2 class="my-20 mat-h2">Choose a content to play</h2>
  <h3 class="mb-10 mat-h3">Multiple choice questions</h3>
  <div class="content-box">
    <div class="common-contribution-card" *ngFor="let content of contentList.mcq" (click)="playContent(content)">
      <h4 class="content-title ">{{content?.name}}</h4>
    </div>
  </div>

  <h3 class="my-10 mat-h3">Multiple choice questions with solutions</h3>
  <div class="content-box">
    <div class="common-contribution-card " *ngFor="let content of contentList.subjective" (click)="playContent(content)">
      <h4 class="content-title ">{{content?.name}}</h4>
    </div>
  </div>

  <h3 class="my-10 mat-h3">Subjective Questions</h3>
  <div class="content-box mb-20">
    <div class="common-contribution-card" *ngFor="let content of contentList.subjective" (click)="playContent(content)">
      <h4 class="content-title ">{{content?.name}}</h4>
    </div>
  </div>
</div>