.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.mr-8 {
  margin-right: 8px;
}

.field-label {
  font-weight: bold;
}